@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lexend+Deca&family=Outfit:wght@300;400;600&display=swap");

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

:root {
  --Soft-blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
  --main-background: hsl(217, 54%, 11%);
  --card-background: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
}
.image {
  margin-bottom: 20px;
  width: 300px;
  padding: 30px;
  border-radius: 40px;
}
body {
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  background-color: var(--main-background);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 99vh;
}

.list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
  width: 100%;
  position: relative;
  top: 20px;
}
.list img {
  position: relative;
  top: 2.5px;
}

.eth {
  position: relative;
  left: 20px;
  color: var(--Cyan);
}
.days {
  position: relative;
  left: 20px;
  color: var(--Soft-blue);
}
.article {
  padding-right: 50px;
  position: relative;
  bottom: 30px;
}
.article h2 {
  font-weight: bold;
  position: relative;
  left: 40px;
  color: var(--Cyan);
}
.coll {
  color: var(--Soft-blue);
  position: relative;
  left: 40px;
  top: 10px;
  overflow: hidden;
  width: 95%;
  display: flex;
  flex-direction: column;
}

.mark {
  display: flex;
  flex-direction: row;
}

.container .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--card-background);
  border-radius: 10px;
  max-width: 300px;
}
.down-side {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 80%;
  left: 5px;
  padding-top: 50px;
  margin-top: 10px;
}
.avatar {
  width: 15%;
  border: 2px solid white;
  border-radius: 20px;
  position: relative;
  left: 6px;
}
.creation {
  color: white;
  font-weight: bold;
  position: relative;
  left: 20px;
}
.bar {
  position: relative;
  top: 40px;
  left: 25px;
  padding-left: 20px;
  border-color: var(--line);
  color: var(--line);
}

.attribution {
  margin-top: 40px;
}
